@font-face {
    font-family: promo;
    src: url(fontes/JosefinSans-Medium.ttf);
 }

 @font-face {
    font-family: bebas;
    src: url(fontes/BebasNeue-Regular.ttf);
 }

 @font-face {
    font-family: opensans;
    src: url(fontes/JosefinSans-Bold.ttf);
 }

 @font-face {
    font-family: roboto;
    src: url(fontes/Roboto-MediumItalic.ttf);
 }


*{
    box-sizing: border-box;
}

#topo{
    background-color:#1C1C1C;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: -8px;
}

#menu_h{
    list-style: none;
    padding: 0;
}

#menu_h li{
    display: inline;
}


#menu_h li a{
    color: rgb(255, 255, 255);
    padding: 50px;
    display: inline-block;
    text-decoration: none;
    font-family: opensans, sans-serif;
    font-size: 25px;
    margin-left: 100px;
}

#menu_h a:hover{
    color: rgb(53, 53, 53);
    text-decoration: none;
}

#banner{
    position: absolute;
    width: 1349px;
    left: 0%;
    top: 240px;
}

#logo{
    position: absolute;
    top: 0%;
    left: 30%;
    width: 500px;
}

#icone{
    height: 200px;
    position: relative;
    top: 160px;
    left: 600px;
}

#promo{
    width: 1351px;
    height: 50px;
    background-color:#1C1C1C;
    position: relative;
    top: 140px;
    left: -10px;
    
}

#promo ul li{
    list-style:none;
    display: inline-block;
}

#a{
    color: whitesmoke;
    font-size: 30px;
    position: relative;
    left: -10px;
    font-family: bebas, sans-serif;
    padding-top: 5px;
}

#c{
    position: relative;
    left: 270px;
    color: whitesmoke;
    font-size: 30px;
    font-family: bebas, sans-serif;
}

#b{
    position: relative;
    left: 130px;
    color: whitesmoke;
    font-size: 30px; 
    font-family: bebas, sans-serif;
}

main{
    margin-top: 210px;
    padding-right: 470px;
    padding-left: 470px;
    height: 1400px;
    background-color:#292929;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    object-fit: cover;
}

#img1{
    height: 497px;
    width: 324px;
    background-color: black;
    background-color: black;
    border: 1px solid white;
    position: relative;
    top: -30px;
    left: 38px;
}

#image1{
    width: 322px;
}

#malcon{
    font-family: promo, sans-serif;
    position: absolute;
    top: 1340px;
    left: 560px;
}

#img2{
    height: 500px;
    width: 325px;
    background-color: black;
    background-color: black;
    border: 1px solid white;
    position: relative;
    left: 520px;
    top: -530px;
}

#image2{
    width: 322px;
}

#frank{
    font-family: promo, sans-serif;
    position: absolute;
    top: 1340px;
    right: 90px;
}

#img3{
    height: 500px;
    width: 325px;
    background-color: rgb(107, 4, 4);
    border: 1px solid white;
    position: absolute;
    top: 857px;
    left: 30px;
}

#image3{
    width: 322px;
    padding-top: 20px;
}

#ronaldo{
    font-family: promo, sans-serif;
    position: absolute;
    top: 1343px;
    left: 70px;
}

#img4{
    height: 370px;
    width: 325px;
    background-color: black;
    background-color: black;
    border: 1px solid white;
    position: absolute;
    top: 1420px;
    left: 30px;
}

#image4{
    width: 323px;
}

#jesus{
    font-family: promo, sans-serif;
    position: absolute;
    top: 1777px;
    left: 130px;
}

#img5{
    height: 370px;
    width: 325px;
    background-color: white;
    border: 1px solid white;
    position: absolute;
    top: 1420px;
    right: 30px;
}

#image5{
    width: 310px;
    padding-left: 10px;
    padding-top: 6px;
}

#will{
    font-family: promo, sans-serif;
    position: absolute;
    top: 1777px;
    right: 90px;
}

#img6{
    height: 370px;
    width: 325px;
    background-color: rgb(175, 36, 66);
    border: 1px solid white;
    position: absolute;
    top: 1420px;
    right: 515px;
}

#image6{
    width: 310px;
    padding-left: 10px;
    padding-top: 6px;
}

#the{
    font-family: promo, sans-serif;
    position: absolute;
    top: 1777px;
    right: 615px;;
}

#letreiro{
    width: 409px;
    height: 135px;
    background-color: white;
    position: relative;
    top: -1050px;
    left: 20px;
}

#img7{
    height: 325px;
    width: 325px;
    background-color: black;
    background-color: black;
    border: 1px solid white;
    position: absolute;
    top: 1847px;
    left: 30px;
}

#image7{
    width: 323px;
}

#goku{
    font-family: promo, sans-serif;
    position: absolute;
    top: 2160px;
    left: 90px;
}

#img8{
    height: 325px;
    width: 325px;
    background-color: black;
    background-color: black;
    border: 1px solid white;
    position: absolute;
    top: 1847px;
    left: 515px;
}

#image8{
    width: 323px;
}

#drake{
    font-family: promo, sans-serif;
    position: absolute;
    top: 2160px;
    right: 605px;;
}

#img9{
    height: 325px;
    width: 325px;
    background-color: black;
    background-color: black;
    border: 1px solid white;
    position: absolute;
    top: 1847px;
    right: 30px;
}

#image9{
    width: 255px;
    margin-left: 30px;
}

#lives{
    font-family: promo, sans-serif;
    position: absolute;
    top: 2160px;
    right: 130px;;
}

footer{
    padding-top: 10px;
    height: 200px;
    margin: -8px;
    background-color: rgb(15, 14, 14);
}

.blacklink{
    color: white;
}

.blacklink :hover{
    color: black;
    text-decoration: none;
}

#sobre{
    text-align: center;
    font-family: roboto, sans-serif;
    color: rgb(255, 255, 255);
}

#sobre2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(143, 143, 143);
}

#instagram{
    width: 30px;
    position: relative;
    left: 910px;
    top: -45px;
}
